n8n_workflows/Haq 1 - Inbound.json
{
  "name": "Haq 1 - Inbound Router",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -2208,
        240
      ],
      "webhookId": "haq-inbound",
      "id": "b29e2c8c-0094-4736-a7ca-6d81046c3550",
      "credentials": {
        "telegramApi": {
          "id": "k3L8aNCZtnz7qCpA",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const m = $json.message || {};\nreturn [{ json: {\n  chat_id: String(m.chat?.id || ''),\n  text: m.text || '',\n  has_voice: !!m.voice,\n  voice_file_id: m.voice?.file_id || null,\n  has_photo: !!m.photo,\n  photo_file_id: m.photo ? m.photo[m.photo.length - 1].file_id : null,\n  tg_name: [m.chat?.first_name, m.chat?.last_name].filter(Boolean).join(' ')\n}}];"
      },
      "name": "Normalize Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1984,
        240
      ],
      "id": "97ce3f9a-2e65-4e21-99b7-d5b195fb29ca"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.has_photo }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "photo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.has_voice }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "text"
        }
      },
      "name": "Message Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1760,
        240
      ],
      "id": "51e9ad6c-ec11-49a2-9a29-9982c1d5f9ed"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://REPLACE-ASR-ENDPOINT/transcribe",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ file_id: $json.voice_file_id, bot_token: 'YOUR_BOT_TOKEN', language_hint: 'hi' }) }}",
        "options": {}
      },
      "name": "ASR Transcribe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1536,
        240
      ],
      "id": "f89997e8-e94d-433e-82eb-a2b8289a90ca",
      "notes": "Replace with Bhashini / Sarvam / Google STT endpoint. Expected response: { transcript, language }. For the hackathon you can also run a tiny local service that downloads the Telegram voice file and calls the ASR API."
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Normalize Update').first().json;\nreturn [{ json: { ...prev, text: $json.transcript || '[voice unintelligible]', detected_language: $json.language || 'hi' } }];"
      },
      "name": "Merge Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        240
      ],
      "id": "4e05525d-6f50-4cc6-a60d-9c541e902da0"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO users (tg_chat_id, name, language)\nVALUES ($1, $2, COALESCE($3, 'hi'))\nON CONFLICT (tg_chat_id) DO UPDATE SET name = COALESCE(users.name, EXCLUDED.name)\nRETURNING id, language, profile;",
        "options": {
          "queryReplacement": "={{ $json.chat_id }},{{ $json.tg_name }},{{ $json.detected_language || 'hi' }}"
        }
      },
      "name": "Upsert User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1104,
        240
      ],
      "id": "3ddc4b0d-1a19-4fc2-a5f4-f734b71ab1e9",
      "credentials": {
        "postgres": {
          "id": "TLeZmF5anlfPjFme",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const user = $json;\nconst msg = $('Message Type').first()?.json?.text ? $('Message Type').first().json : $('Merge Transcript').first().json;\nconst prompt = `Classify the user message into exactly one intent.\\nIntents: PROFILE_INFO, STATUS_QUERY, DOC_QUESTION, CONSENT_YES, OTP_REPLY, SMALLTALK.\\nRules: a 4-8 digit number alone => OTP_REPLY. 'haan'/'yes'/'ok'/'ha' => CONSENT_YES. Mentions of self/family/income/age/job/marital status => PROFILE_INFO. Asking about application progress => STATUS_QUERY.\\nReply with JSON only: {\\\"intent\\\": \\\"...\\\"}\\nMessage: ${msg.text}`;\nreturn [{ json: { user_id: user.id, language: user.language, profile: user.profile, chat_id: msg.chat_id, text: msg.text, body: { contents: [{ parts: [{ text: prompt }] }], generationConfig: { responseMimeType: 'application/json', maxOutputTokens: 2000, thinkingConfig: { thinkingBudget: 0 } } } } }];"
      },
      "name": "Build Classifier Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        240
      ],
      "id": "cca9afe3-95ce-4096-8571-55ee47da9afd"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3.1-flash-lite:generateContent?key=AQ...........xxxx",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "name": "Classify Intent (LLM)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        240
      ],
      "id": "32ca7365-2e73-4cb9-8e61-ebdfc90bbff8",
      "notes": "Gemini flash-lite (cheapest) for high-volume intent routing. Paste your Gemini API key into the URL after key=."
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Build Classifier Request').first().json;\nlet intent = 'SMALLTALK';\ntry {\n  const raw = $json.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  intent = JSON.parse(raw.replace(/```json|```/g, '').trim()).intent || 'SMALLTALK';\n} catch (e) { /* default SMALLTALK */ }\nreturn [{ json: { ...ctx, intent } }];"
      },
      "name": "Parse Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        240
      ],
      "id": "a24f7330-7864-4177-9651-ee5210c27d60"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "PROFILE_INFO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "PROFILE_INFO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "STATUS_QUERY",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "STATUS_QUERY"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "CONSENT_YES",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "CONSENT_YES"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "OTP_REPLY",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "OTP_REPLY"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "SMALLTALK"
        }
      },
      "name": "Route Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -224,
        240
      ],
      "id": "7fa74a86-1f69-428e-9c98-49198d921eed"
    },
    {
      "parameters": {
        "jsCode": "const t = $json.text;\nconst prompt = `Extract profile fields from this message. Output ONLY JSON with any of: { name, age, gender (male|female|other), marital_status (married|widowed|single|divorced), annual_income (number, INR), category (GEN|OBC|SC|ST), district, state (2-letter code, e.g. RJ), occupation }. Use null for absent fields, never guess income. Message: ${t}`;\nreturn [{ json: { ...$json, body: { contents: [{ parts: [{ text: prompt }] }], generationConfig: { responseMimeType: 'application/json', maxOutputTokens: 2000, thinkingConfig: { thinkingBudget: 0 } } } } }];"
      },
      "name": "Build Field Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "b29e8cdf-f55f-4cc1-b42f-1f321aa54d0a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3.5-flash:generateContent?key=AQ...............xxxxxxxxx",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "name": "Extract Fields (LLM)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ],
      "id": "f82d1dd7-f469-4d1a-8efa-415d485e9fd5"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Build Field Extract').first().json;\nlet fields = {};\ntry {\n  const raw = $json.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  fields = JSON.parse(raw.replace(/```json|```/g, '').trim());\n} catch (e) {}\nconst clean = Object.fromEntries(Object.entries(fields).filter(([, v]) => v !== null && v !== undefined && v !== ''));\nreturn [{ json: { user_id: ctx.user_id, chat_id: ctx.chat_id, fields: clean } }];"
      },
      "name": "Parse Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "80573984-eacd-4722-8174-dcf43e085b8a"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users SET profile = profile || $1::jsonb WHERE id = $2 RETURNING id;",
        "options": {
          "queryReplacement": "={{ JSON.stringify($json.fields) }},{{ $json.user_id }}"
        }
      },
      "name": "Merge Profile",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        672,
        0
      ],
      "id": "65339071-48d4-484f-9c46-c2bfa064b4c6",
      "credentials": {
        "postgres": {
          "id": "TLeZmF5anlfPjFme",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT a.id, a.state, a.app_number, s.config->'name'->>'hi' AS scheme_hi, s.config->'name'->>'en' AS scheme_en,\n  (SELECT json_agg(json_build_object('at', e.created_at, 'kind', e.kind, 'payload', e.payload) ORDER BY e.created_at)\n   FROM events e WHERE e.application_id = a.id) AS timeline\nFROM applications a JOIN schemes s ON s.id = a.scheme_id\nWHERE a.user_id = $1 ORDER BY a.id DESC LIMIT 3;",
        "options": {
          "queryReplacement": "={{ $json.user_id }}"
        }
      },
      "name": "Fetch Applications",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        0,
        192
      ],
      "id": "e9186c20-e0b1-45b8-82e9-f153009891bb",
      "credentials": {
        "postgres": {
          "id": "TLeZmF5anlfPjFme",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Parse Intent').first().json;\nconst apps = items.map(i => i.json);\nif (!apps.length || !apps[0].id) return [{ json: { chat_id: ctx.chat_id, reply: 'Aapka abhi koi aavedan nahi hai. Apne baare mein bataiye ya rashan card ki photo bhejiye.' } }];\nconst lines = [];\nfor (const a of apps) {\n  lines.push(`\\u{1F4C4} ${a.scheme_hi || a.scheme_en} \\u2014 ${a.state}${a.app_number ? ' (#' + a.app_number + ')' : ''}`);\n  for (const [i, e] of (a.timeline || []).entries()) {\n    const d = new Date(e.at).toLocaleDateString('en-IN', { day: 'numeric', month: 'short' });\n    lines.push(`  ${i + 1}. ${d} \\u2014 ${e.payload?.to || e.kind}`);\n  }\n}\nreturn [{ json: { chat_id: ctx.chat_id, reply: lines.join('\\n') } }];"
      },
      "name": "Render Timeline",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        192
      ],
      "id": "5d393c8c-51cb-4ca2-bf6f-5c37d9b4c56c"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH app AS (\n  INSERT INTO applications (user_id, scheme_id, state, deadline_at, tier)\n  SELECT $1, (SELECT (payload->>'scheme_id') FROM events WHERE user_id = $1 AND kind = 'matches_offered' ORDER BY id DESC LIMIT 1), 'ready', now(), NULL\n  RETURNING id\n)\nINSERT INTO events (application_id, user_id, kind, payload)\nSELECT id, $1, 'consent', jsonb_build_object('via', 'telegram') FROM app\nRETURNING application_id;",
        "options": {
          "queryReplacement": "={{ $json.user_id }}"
        }
      },
      "name": "Create Application",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        0,
        368
      ],
      "id": "1b2d76da-a601-410a-bda0-0db629573e65",
      "credentials": {
        "postgres": {
          "id": "TLeZmF5anlfPjFme",
          "name": "Postgres account"
        }
      },
      "notes": "Consent creates the application for the top scheme last offered by the Matcher (logged as a 'matches_offered' event). Required docs check is simplified to 'ready' for V0."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:3100/jobs/{{ $json.profile?.active_job_id || $json.user_id }}/otp",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ otp: $json.text.trim() }) }}",
        "options": {}
      },
      "name": "Forward OTP to Worker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        544
      ],
      "id": "2f23c947-cf8c-4c8e-9100-adbfc7fb4f44",
      "notes": "Worker keys jobs by application_id. The Executor stores the active job id in users.profile.active_job_id when it dispatches Tier-2 — keep that convention."
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id || $('Parse Intent').first().json.chat_id }}",
        "text": "={{ $json.reply || 'Theek hai! Main aapki sarkari yojanaon mein madad karta hoon. Apne baare mein bataiye, ya rashan card ki photo bhejiye. Main kabhi paise nahi maangunga.' }}",
        "additionalFields": {}
      },
      "name": "Telegram Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        512,
        432
      ],
      "id": "29e99a2f-f65c-47d0-9bd9-dc600e8b09b3",
      "webhookId": "214f497d-2fa5-4e8c-96cd-656da4233403",
      "credentials": {
        "telegramApi": {
          "id": "k3L8aNCZtnz7qCpA",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vOOuYYXW5ygFhQdv",
          "mode": "list",
          "cachedResultUrl": "/workflow/vOOuYYXW5ygFhQdv",
          "cachedResultName": "Haq 3 - Matcher"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('Parse Fields').item.json.user_id }}",
            "chat_id": "={{ $('Parse Fields').item.json.chat_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        880,
        0
      ],
      "id": "09444a0f-ffdc-4d11-b285-e4caebced0db",
      "name": "Run Matcher"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wswx5dUK1qbJMckN",
          "mode": "list",
          "cachedResultUrl": "/workflow/wswx5dUK1qbJMckN",
          "cachedResultName": "Haq 2 - Profiler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Normalize Update').item.json.chat_id }}",
            "photo_file_id": "={{ $('Normalize Update').item.json.photo_file_id }}",
            "tg_name": "={{ $('Normalize Update').item.json.tg_name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "photo_file_id",
              "displayName": "photo_file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tg_name",
              "displayName": "tg_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1536,
        64
      ],
      "id": "35a2d467-6358-4412-addb-80ab3ece0d23",
      "name": "Run Profiler"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KTF66qA66AMQNmLE",
          "mode": "list",
          "cachedResultUrl": "/workflow/KTF66qA66AMQNmLE",
          "cachedResultName": "Haq 4 - Executor"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "application_id": "={{ $('Create Application').item.json.application_id }}",
            "chat_id": "={{ $('Parse Intent').item.json.chat_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "application_id",
              "displayName": "application_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        368
      ],
      "id": "21d9b6ef-e85d-4212-b3a6-8adbca0d06c8",
      "name": "Run Executor"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalize Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Update": {
      "main": [
        [
          {
            "node": "Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Type": {
      "main": [
        [
          {
            "node": "Run Profiler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ASR Transcribe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upsert User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ASR Transcribe": {
      "main": [
        [
          {
            "node": "Merge Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Transcript": {
      "main": [
        [
          {
            "node": "Upsert User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert User": {
      "main": [
        [
          {
            "node": "Build Classifier Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Classifier Request": {
      "main": [
        [
          {
            "node": "Classify Intent (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Intent (LLM)": {
      "main": [
        [
          {
            "node": "Parse Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Intent": {
      "main": [
        [
          {
            "node": "Route Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Intent": {
      "main": [
        [
          {
            "node": "Build Field Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Applications",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Application",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward OTP to Worker",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Field Extract": {
      "main": [
        [
          {
            "node": "Extract Fields (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields (LLM)": {
      "main": [
        [
          {
            "node": "Parse Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Fields": {
      "main": [
        [
          {
            "node": "Merge Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Profile": {
      "main": [
        [
          {
            "node": "Run Matcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Applications": {
      "main": [
        [
          {
            "node": "Render Timeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Timeline": {
      "main": [
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Application": {
      "main": [
        [
          {
            "node": "Run Executor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward OTP to Worker": {
      "main": [
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3a2b2a90-1b0c-4580-99d7-08e0a1dd09f6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f6709d43f42265099711ffb435f8a201336ee4407b1919d9f157b2bf639ffa29"
  },
  "nodeGroups": [],
  "id": "oWKs9yjJnH0ObEvX",
  "tags": []
}