n8n_workflows/Haq_3_Matcher.json
{
  "name": "Haq 3 - Matcher",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": { "values": [ { "name": "user_id" }, { "name": "chat_id" } ] }
      },
      "name": "Matcher Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-700, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.profile, u.language,\n  (SELECT json_agg(json_build_object('id', s.id, 'config', s.config)) FROM schemes s WHERE s.active) AS schemes\nFROM users u WHERE u.id = $1;",
        "options": { "queryReplacement": "={{ $json.user_id }}" }
      },
      "name": "Fetch Profile + Schemes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [-480, 300],
      "credentials": { "postgres": { "id": "REPLACE_ME", "name": "Haq Postgres" } }
    },
    {
      "parameters": {
        "jsCode": "// ===== Deterministic eligibility engine — zero LLM tokens =====\nconst trig = $('Matcher Trigger').first().json;\nconst { profile = {}, schemes = [], language = 'hi' } = $json;\nconst ops = {\n  eq:  (a, b) => String(a).toLowerCase() === String(b).toLowerCase(),\n  neq: (a, b) => String(a).toLowerCase() !== String(b).toLowerCase(),\n  gte: (a, b) => Number(a) >= Number(b),\n  lte: (a, b) => Number(a) <= Number(b),\n  in:  (a, b) => Array.isArray(b) && b.map(x => String(x).toLowerCase()).includes(String(a).toLowerCase()),\n};\nfunction evalNode(rule, prof, unknowns) {\n  if (rule.all) return rule.all.every(r => evalNode(r, prof, unknowns));\n  if (rule.any) return rule.any.some(r => evalNode(r, prof, unknowns));\n  const v = prof[rule.field];\n  if (v === undefined || v === null) { unknowns.push(rule.field); return true; }\n  return ops[rule.op] ? ops[rule.op](v, rule.value) : false;\n}\nconst results = (schemes || []).map(s => {\n  const unknowns = [];\n  const eligible = evalNode(s.config.eligibility || { all: [] }, profile, unknowns);\n  const b = s.config.benefit || {};\n  const amt = b.amount_inr || 0;\n  let annual;\n  if (b.type === 'monthly_cash') annual = amt * 12;\n  else if (b.type === 'insurance_cover') annual = amt * 0.01;\n  else annual = amt;\n  const effort = s.config.effort_score || 3;\n  return { id: s.id, name: s.config.name, benefit: s.config.benefit,\n           eligible, unknown_fields: [...new Set(unknowns)], score: annual / effort };\n});\nconst matches = results.filter(r => r.eligible && r.unknown_fields.length === 0)\n                       .sort((a, b) => b.score - a.score).slice(0, 3);\nconst needInfo = results.filter(r => r.eligible && r.unknown_fields.length > 0)\n                        .sort((a, b) => b.score - a.score);\nreturn [{ json: { user_id: trig.user_id, chat_id: trig.chat_id, language, profile, matches, need_info: needInfo } }];"
      },
      "name": "Eligibility Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-260, 300]
    },
    {
      "parameters": {
        "conditions": { "options": { "caseSensitive": true, "typeValidation": "strict" }, "combinator": "and", "conditions": [ { "leftValue": "={{ $json.matches.length }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } } ] }
      },
      "name": "Any Matches?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-40, 300]
    },
    {
      "parameters": {
        "jsCode": "const j = $json;\nconst unknown = j.need_info[0]?.unknown_fields?.[0];\nconst qs = {\n  age: 'Aapki umar kitni hai?', gender: 'Aap mahila hain ya purush?',\n  marital_status: 'Aapki vaivahik sthiti kya hai?',\n  annual_income: 'Parivaar ki saalana aamdani lagbhag kitni hai?',\n  category: 'Aapki shreni? (GEN/OBC/SC/ST)', district: 'Aapka zila?', state: 'Aapka rajya?'\n};\nconst text = unknown\n  ? `Ek jankari aur chahiye taaki main sahi yojana dhundh sakun: ${qs[unknown] || unknown}`\n  : 'Abhi koi yojana match nahi hui. Apne baare mein thoda aur bataiye \u2014 umar, kaam, parivaar.';\nreturn [{ json: { chat_id: j.chat_id, text } }];"
      },
      "name": "Ask Highest-Impact Field",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [180, 460]
    },
    {
      "parameters": {
        "jsCode": "const j = $json;\nconst summary = j.matches.map((m, i) => `${i + 1}. ${m.name?.hi || m.name?.en} \u2014 ${m.benefit?.type === 'monthly_cash' ? '\\u20B9' + m.benefit.amount_inr + '/mahina' : '\\u20B9' + (m.benefit?.amount_inr || '?')}`).join('\\n');\nconst prompt = `You are Haq, a warm plain-spoken assistant. Language: ${j.language === 'hi' ? 'Hindi (Devanagari)' : 'simple English'}.\\nExplain these scheme matches to a user who may not read well. Short sentences. Concrete amounts first. No jargon. Never promise approval; say they appear eligible. End with exactly one question: consent to apply for scheme #1 (tell them to reply HAAN / YES).\\nMatches:\\n${summary}`;\nreturn [{ json: { ...j, body: { contents: [{ parts: [{ text: prompt }] }], generationConfig: { maxOutputTokens: 400 } } } }];"
      },
      "name": "Build Explainer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [180, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3.5-flash:generateContent?key=YOUR_GEMINI_API_KEY",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "content-type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "name": "Vernacular Explainer (LLM)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 160]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Build Explainer').first().json;\nconst text = ($json.candidates?.[0]?.content?.parts?.[0]?.text || '').trim() || 'Aap in yojanaon ke liye paatr lagte hain.';\nreturn [{ json: { chat_id: ctx.chat_id, user_id: ctx.user_id, top_scheme_id: ctx.matches[0].id, text } }];"
      },
      "name": "Parse Explainer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [620, 160]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO events (user_id, kind, payload)\nVALUES ($1, 'matches_offered', jsonb_build_object('scheme_id', $2))\nRETURNING id;",
        "options": { "queryReplacement": "={{ $json.user_id }},{{ $json.top_scheme_id }}" }
      },
      "name": "Log Offer",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [840, 160],
      "credentials": { "postgres": { "id": "REPLACE_ME", "name": "Haq Postgres" } },
      "notes": "The Inbound workflow's CONSENT_YES branch reads this event to know which scheme the user is consenting to."
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Explainer').first().json.chat_id || $json.chat_id }}",
        "text": "={{ $('Parse Explainer').first()?.json?.text || $json.text }}",
        "additionalFields": {}
      },
      "name": "Send to User",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1060, 300],
      "credentials": { "telegramApi": { "id": "REPLACE_ME", "name": "Haq Telegram Bot" } }
    }
  ],
  "connections": {
    "Matcher Trigger": { "main": [ [ { "node": "Fetch Profile + Schemes", "type": "main", "index": 0 } ] ] },
    "Fetch Profile + Schemes": { "main": [ [ { "node": "Eligibility Engine", "type": "main", "index": 0 } ] ] },
    "Eligibility Engine": { "main": [ [ { "node": "Any Matches?", "type": "main", "index": 0 } ] ] },
    "Any Matches?": { "main": [ [ { "node": "Build Explainer", "type": "main", "index": 0 } ], [ { "node": "Ask Highest-Impact Field", "type": "main", "index": 0 } ] ] },
    "Build Explainer": { "main": [ [ { "node": "Vernacular Explainer (LLM)", "type": "main", "index": 0 } ] ] },
    "Vernacular Explainer (LLM)": { "main": [ [ { "node": "Parse Explainer", "type": "main", "index": 0 } ] ] },
    "Parse Explainer": { "main": [ [ { "node": "Log Offer", "type": "main", "index": 0 } ] ] },
    "Log Offer": { "main": [ [ { "node": "Send to User", "type": "main", "index": 0 } ] ] },
    "Ask Highest-Impact Field": { "main": [ [ { "node": "Send to User", "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
