n8n_workflows/Haq_5_Sentinel.json
{
  "name": "Haq 5 - Sentinel",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [ { "field": "hours", "hoursInterval": 1 } ] } },
      "name": "Hourly Cron",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-900, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT a.id AS application_id, a.state, a.app_number, a.user_id,\n  u.tg_chat_id AS chat_id, u.language,\n  s.id AS scheme_id, s.config->'name'->>'hi' AS scheme_hi, s.config->'name'->>'en' AS scheme_en,\n  (s.config->'slas'->>'decision_days')::int AS decision_days,\n  s.config->'appeal'->>'grievance_dept' AS grievance_dept,\n  (SELECT json_agg(json_build_object('at', e.created_at, 'kind', e.kind, 'payload', e.payload) ORDER BY e.created_at)\n   FROM events e WHERE e.application_id = a.id) AS event_log\nFROM applications a\nJOIN users u ON u.id = a.user_id\nJOIN schemes s ON s.id = a.scheme_id\nWHERE a.deadline_at < now()\n  AND a.state NOT IN ('disbursed', 'closed')\nLIMIT 25;",
        "options": {}
      },
      "name": "Find Breaches",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [-680, 300],
      "credentials": { "postgres": { "id": "REPLACE_ME", "name": "Haq Postgres" } }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "outputKey": "docs_pending_or_pdf", "conditions": { "options": { "caseSensitive": true, "typeValidation": "strict" }, "combinator": "or", "conditions": [ { "leftValue": "={{ $json.state }}", "rightValue": "docs_pending", "operator": { "type": "string", "operation": "equals" } }, { "leftValue": "={{ $json.state }}", "rightValue": "pdf_sent", "operator": { "type": "string", "operation": "equals" } } ] }, "renameOutput": true },
            { "outputKey": "submitted", "conditions": { "options": { "caseSensitive": true, "typeValidation": "strict" }, "combinator": "and", "conditions": [ { "leftValue": "={{ $json.state }}", "rightValue": "submitted", "operator": { "type": "string", "operation": "equals" } } ] }, "renameOutput": true },
            { "outputKey": "under_review", "conditions": { "options": { "caseSensitive": true, "typeValidation": "strict" }, "combinator": "and", "conditions": [ { "leftValue": "={{ $json.state }}", "rightValue": "under_review", "operator": { "type": "string", "operation": "equals" } } ] }, "renameOutput": true },
            { "outputKey": "approved", "conditions": { "options": { "caseSensitive": true, "typeValidation": "strict" }, "combinator": "and", "conditions": [ { "leftValue": "={{ $json.state }}", "rightValue": "approved", "operator": { "type": "string", "operation": "equals" } } ] }, "renameOutput": true }
          ]
        },
        "options": { "fallbackOutput": "extra", "renameFallbackOutput": "other" }
      },
      "name": "By State",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [-460, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=Yaad dilana chahta hoon \ud83d\udd14: aapka {{ $json.scheme_hi || $json.scheme_en }} ka aavedan aage badhne ke liye aapke kadam ka intezaar kar raha hai. Agar form jama kar diya hai to 'JAMA' likhein; koi dikkat ho to bataiye \u2014 main madad karunga.",
        "additionalFields": {}
      },
      "name": "Send Reminder",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-240, 60],
      "credentials": { "telegramApi": { "id": "REPLACE_ME", "name": "Haq Telegram Bot" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT transition($1, $2, now() + interval '3 days', jsonb_build_object('action', 'reminder_sent'));",
        "options": { "queryReplacement": "={{ $json.application_id }},{{ $json.state }}" }
      },
      "name": "Extend Deadline (Reminder)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [-20, 60],
      "credentials": { "postgres": { "id": "REPLACE_ME", "name": "Haq Postgres" } }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=Main aapke {{ $json.scheme_hi || $json.scheme_en }} aavedan (#{{ $json.app_number }}) ki sthiti jaanch raha hoon. Agar aapko vibhag se koi SMS aaya ho, kripya use yahan forward kar dein \u2014 isse mujhe sahi jankari milegi. \ud83d\udd0d",
        "additionalFields": {}
      },
      "name": "Ask SMS Forward",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-240, 240],
      "credentials": { "telegramApi": { "id": "REPLACE_ME", "name": "Haq Telegram Bot" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT transition($1, 'under_review', now() + ($2 || ' days')::interval, jsonb_build_object('action', 'status_check'));",
        "options": { "queryReplacement": "={{ $json.application_id }},{{ $json.decision_days || 45 }}" }
      },
      "name": "Transition: under_review",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [-20, 240],
      "credentials": { "postgres": { "id": "REPLACE_ME", "name": "Haq Postgres" } },
      "notes": "V0 simplification: after the acknowledge window we assume the department has the file and move to under_review with the decision SLA. V1 adds portal status scraping here."
    },
    {
      "parameters": {
        "jsCode": "const j = $json;\nconst prompt = `Draft a formal CPGRAMS grievance in English from these facts only:\\nScheme: ${j.scheme_en}\\nDepartment: ${j.grievance_dept || 'concerned department'}\\nApplication number: ${j.app_number || 'not yet issued'}\\nStatutory decision window (days): ${j.decision_days || 45}\\nEvent log: ${JSON.stringify(j.event_log || [])}\\nStructure: applicant reference, scheme name, application number, date filed, statutory window, days elapsed, request for status and time-bound action. Polite, factual, no accusations. 150 words max. Output only the grievance text.`;\nreturn [{ json: { ...j, body: { contents: [{ parts: [{ text: prompt }] }], generationConfig: { maxOutputTokens: 500 } } } }];"
      },
      "name": "Build Grievance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-240, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3.5-flash:generateContent?key=YOUR_GEMINI_API_KEY",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "content-type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "name": "Draft Grievance (LLM)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-20, 420]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Build Grievance').first().json;\nconst text = $json.candidates?.[0]?.content?.parts?.[0]?.text || '';\nreturn [{ json: { ...ctx, grievance_text: text } }];"
      },
      "name": "Parse Grievance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 420]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=\u26A0\uFE0F Vibhag ne nirdharit samay mein aapke {{ $json.scheme_hi || $json.scheme_en }} aavedan par nirnay nahi liya. Maine aapki taraf se shikayat (grievance) ka masauda taiyaar kar diya hai:\n\n{{ $json.grievance_text }}\n\nIse darj karne ke liye 'HAAN' likhein. CPGRAMS link: https://pgportal.gov.in",
        "additionalFields": {}
      },
      "name": "Send Grievance Draft",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [420, 420],
      "credentials": { "telegramApi": { "id": "REPLACE_ME", "name": "Haq Telegram Bot" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT transition($1, 'grievance_drafted', now() + interval '15 days', jsonb_build_object('grievance', $2));",
        "options": { "queryReplacement": "={{ $json.application_id }},{{ JSON.stringify($json.grievance_text) }}" }
      },
      "name": "Transition: grievance_drafted",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [640, 420],
      "credentials": { "postgres": { "id": "REPLACE_ME", "name": "Haq Postgres" } }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=Khushkhabri ke baad ek jaanch \ud83d\udd0e: kya {{ $json.scheme_hi || $json.scheme_en }} ka paisa aapke khaate mein aa gaya? 'HAAN' ya 'NAHI' likhein. Agar nahi aaya, to main vibhag se iska pata lagaunga.",
        "additionalFields": {}
      },
      "name": "Verify Disbursal",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-240, 600],
      "credentials": { "telegramApi": { "id": "REPLACE_ME", "name": "Haq Telegram Bot" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT transition($1, 'approved', now() + interval '7 days', jsonb_build_object('action', 'disbursal_check'));",
        "options": { "queryReplacement": "={{ $json.application_id }}" }
      },
      "name": "Extend (Disbursal)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [-20, 600],
      "credentials": { "postgres": { "id": "REPLACE_ME", "name": "Haq Postgres" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT transition($1, $2, now() + interval '2 days', jsonb_build_object('action', 'sentinel_noop'));",
        "options": { "queryReplacement": "={{ $json.application_id }},{{ $json.state }}" }
      },
      "name": "Extend (Other)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [-240, 760],
      "credentials": { "postgres": { "id": "REPLACE_ME", "name": "Haq Postgres" } },
      "notes": "Safety net: any breached state without a handler gets its deadline pushed so the cron never tight-loops."
    }
  ],
  "connections": {
    "Hourly Cron": { "main": [ [ { "node": "Find Breaches", "type": "main", "index": 0 } ] ] },
    "Find Breaches": { "main": [ [ { "node": "By State", "type": "main", "index": 0 } ] ] },
    "By State": { "main": [ [ { "node": "Send Reminder", "type": "main", "index": 0 } ], [ { "node": "Ask SMS Forward", "type": "main", "index": 0 } ], [ { "node": "Build Grievance", "type": "main", "index": 0 } ], [ { "node": "Verify Disbursal", "type": "main", "index": 0 } ], [ { "node": "Extend (Other)", "type": "main", "index": 0 } ] ] },
    "Send Reminder": { "main": [ [ { "node": "Extend Deadline (Reminder)", "type": "main", "index": 0 } ] ] },
    "Ask SMS Forward": { "main": [ [ { "node": "Transition: under_review", "type": "main", "index": 0 } ] ] },
    "Build Grievance": { "main": [ [ { "node": "Draft Grievance (LLM)", "type": "main", "index": 0 } ] ] },
    "Draft Grievance (LLM)": { "main": [ [ { "node": "Parse Grievance", "type": "main", "index": 0 } ] ] },
    "Parse Grievance": { "main": [ [ { "node": "Send Grievance Draft", "type": "main", "index": 0 } ] ] },
    "Send Grievance Draft": { "main": [ [ { "node": "Transition: grievance_drafted", "type": "main", "index": 0 } ] ] },
    "Verify Disbursal": { "main": [ [ { "node": "Extend (Disbursal)", "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
